<div id="delete-modal" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
          <h2 class="uk-modal-title">Withdraw</h2>
      </div>
      <div class="uk-modal-body">
        <p>Are you sure you want to withdraw <span class="resource_name"></span>?</p>
        <p class="text-danger">This cannot be undone.</p>
      </div>
      <div class="uk-modal-footer">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-danger confirm-button" type="button">Delete</button>
      </div>
  </div>
</div>
