<% if @schedules.present? %>
  <div id="events_calendar" class="uk-width-5-5">
    <div class="uk-form-label"> Schedule </div>
    <%= render partial: "meritadmin/courses/calendar", locals: { schedules: @schedules } %>
  </div>
<% end %>
