<div uk-grid>
    <div class="uk-width-1-4@m uk-flex-first@m">
      <%= render "meritadmin/memberships/fixed_navigation" %>
    </div>

    <div class="uk-width-expand@m">
        <div class="my-4">
            <h4>Payment History</h4>
            <hr class="m-0">
        </div>
    </div>
</div>
