<div class="uk-flex uk-flex-middle">
  <a href="<%= faqs_path(page: params[:page], scope: params[:scope]) %>" class="button grey"
      uk-tooltip="title: View All Faqs ; delay: 500 ; pos: top ;">
      <i class="icon-material-outline-arrow-back"></i> Back To All Faqs
  </a>
</div>

<div class="uk-card-default mt-4 rounded">
    <div class="uk-card-header">
        <i class="icon-feather-plus mr-2"></i> Edit Faq Account
    </div>
    <div class="uk-card-body">
        <div uk-grid>
            <div class="uk-width-expand@m">
              <%= render "form" %>
            </div>
        </div>
    </div>
</div>
