<!-- <div class="container-fluid"> -->
  <div uk-height-viewport="expand: true" class="uk-flex uk-flex-middle">
      <div class="uk-width-1-3@m uk-width-1-2@s m-auto">
          <div class="uk-card-default p-6 rounded">
              <div class="my-4 uk-text-center">
                  <h2 class="mb-0">Thank you for subscribing!</h2>
                  <a href="/" class="button grey transition-3d-hover my-4 large uk-flex-inline uk-flex-middle uk-flex-justify-center">
                  <i class="icon-feather-home icon-small mr-2 mb-1"></i> Return Home</a>
              </div>
          </div>
      </div>
  </div>
<!-- </div> -->
