<% return unless setting.is_membership_portal? %>

<div id="modal-choose-a-plan" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" uk-close type="button"></button>

        <div class="uk-modal-body uk-text-center">
            <h4 class="text-gold uk-text-lead"><i class="icon-material-outline-lock"></i> This lesson is locked.</h4>
              <p class="uk-text-large">Become a member to access this lesson!</p>
            <p>
              <a href="/register" id="ember708" class="ember-view button grey mt-2 uk-modal-close">
                Sign Up
              </a>
            </p>
        </div>
    </div>
</div>
