<div class="uk-card-default rounded">
    <div class="uk-card-header">
        <i class="icon-feather-plus mr-2"></i> Generate A New Report
    </div>
    <div class="uk-card-body">
        <div uk-grid>
            <div class="uk-width-expand@m">
              <%= render "form" %>
            </div>
        </div>
    </div>
</div>
