<div class="uk-card-default rounded">
    <div class="uk-card-header">
        <i class="icon-feather-plus mr-2"></i> Setup A New Subject
    </div>
    <div class="uk-card-body">
        <div uk-grid>
          <div class="uk-width-1-4@m">

              <div class="text-center">
                  <div class="uk-position-relative text-center">
                    <%= cl_image_tag("https://via.placeholder.com/300x300", { quality: "auto:best", id: "custom-cloudinary-upload" }) %>
                      <div class="uk-position-center">
                          <div uk-form-custom>
                              <input name="file" type="file" accept=".jpg,.jpeg,.png" class="cloudinary-fileupload" data-cloudinary-field="subject[icon_url]"
                                  data-form-data="{ &quot;upload_preset&quot;:  &quot;<%= ENV['CLOUDINARY_API_UNSIGNED_UPLOAD_PRESET'] %>&quot;, &quot;callback&quot;: &quot;<%= request.base_url %>/cloudinary_cors.html&quot;}" ></input>
                              <span class="preview-icon uk-link icon-feather-camera icon-medium text-white">
                              </span>
                          </div>

                      </div>

                  </div>
                  <span class="uk-text-meta">For best results use a square picture. Ex. 300px x 300px</span>
              </div>

          </div>
            <div class="uk-width-expand@m">
              <%= render "form" %>
            </div>
        </div>
    </div>
</div>
